*{
    margin: 0px;
    padding: 0px;
}
header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0px 10px;
    z-index: 1;
}
#checkbox {
    display: none;
}
.hb {
    height: 30px;
    width: 30px;
    /* background-color: gray; */
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.hb span {
    width: 25px;
    height: 4px;
    background-color: #000;
    position: absolute;
    left: 2.5px;
    margin: auto;
}
.line1{
    top: 5px;
    transition: top 0.25s 0.5s, transform 0.25s 0s;
    transform: rotate(0deg);
}
.line2{
    top: 0;
    bottom: 0;
    transition: 0.25s .5s;
}
.line3{
    bottom: 5px;
    transition: bottom 0.25s 0.5s, transform 0.25s 0s;
    transform: rotate(0deg);
}
nav {
    display: none;
    position: absolute;
    top: 100%;
    width: calc(100% + 20px);
    left: -10px;
}
#checkbox:checked ~nav{
    display: block;
    box-shadow: 0px 10px 15px -3px #000;
    z-index: -1;
}

#checkbox:checked ~label span:nth-child(1) {
    top: 12.5px;
    transform: rotate(45deg);
    transition: top 0.25s 0s, transform 0.5s 0.25s;
}
#checkbox:checked ~label span:nth-child(2) {
    opacity: 0;
    transition: 0.25s .25s;

}
#checkbox:checked ~label span:nth-child(3) {
    bottom: 12.5px;
    transform: rotate(-45deg);
    transition: bottom 0.25s 0s, transform 0.5s 0.25s;
}

header nav ul li {
    list-style: none;
    padding: 20px 10px;
}

.rubylogo {
    height:30%;
}
.rubylogo img {
    height: 100%;
}
.logo-title {
    display: flex;
    height: 50px;
    align-items: center;
}


@media screen and (min-width: 1024px) {
    .hb {
        display: none;
    }
    nav{
        display: block;
        position: relative;
        top: 0;
        width: auto;
        /* height: 100%; */
    }
    nav ul {
        display: flex;
    }
    .list li {
        padding: 0px 10px;
        line-height: 50px;
        transition:.25s 0s;
        position: relative;
        /* width: 100%; */
    }
    .list li::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: red;
        height: 3px;
        transform: scaleX(0);
        transform-origin: center;
        background-color: red;
        transition: 0.2s;
    }
    .list li:hover::after{
        transform: scaleX(1);
    }
    header nav ul li {
        /* display: inline-block; */
        /* vertical-align: middle; */
        /* padding: px 100px; */
    }
}